@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

p {
  margin-bottom: 0px;
}

.header_borderline {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  border: solid 1px #ececec;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo p {
  color: black;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  margin: 0;
}

.logo p span {
  color: #f16d7f;
}

.header_form {
  display: flex;
  margin-left: 37px;
}

.header_right {
  display: flex;
  align-items: center;
}

.cart_box_details .icon-basket {
  font-size: 32px;
  padding-right: 10px;
}

.cart_box_details .icon-basket:hover {
  color: #f16d7f;
  font-size: 32px;
  padding-right: 10px;
}

.button_my_account {
  border: 1px solid transparent;
  padding: 11px 19px;
  background-color: #f16d7f;
  text-decoration: none;
  color: #ececec;
}

.button_my_account:hover {
  border: 1px solid #f16d7f;
  padding: 11px 19px;
  background-color: #ececec;
  text-decoration: none;
  color: #f16d7f;
}

.header_form_summary {
  list-style-type: none;
  padding: 0px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.35px;
}

details .header_form_summary::after {
  content: "▶";
  margin-left: 8px;
}

details[open] .header_form_summary::after {
  content: "▼";
}

.header_form_summary:focus {
  outline: none;
}

.browse_dropdown {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  padding: 20px;
  z-index: 3;
}

.browse_dropdown::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  left: 73px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.browse_dropdown h3 {
  width: 235px;
  color: #232323;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.browse_dropdown_ul_head {
  width: 235px;
  color: #232323;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-bottom: 16px;
  margin-top: 10px;
}

.browse_dropdown ul {
  list-style-type: none;
}

.browse_dropdown ul li a {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  display: block;
  text-decoration: none;
}

.browse_dropdown ul li a:hover {
  color: #f16d7f;
  -webkit-text-decoration: underline #f16d7f;
          text-decoration: underline #f16d7f;
}

.header_form_summary {
  font-size: 14px;
  outline: none;
  border: solid 1px #e6e6e6;
  background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
}

.header_form input {
  outline: none;
  width: 279px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  padding-left: 16px;
}

.header_form button {
  width: 38px;
  border: solid 1px #ececec;
  background-color: #ffffff;
  outline: none;
}

.header_form button:hover {
  color: white;
  border: solid 1px #f16d7f;
  background-color: #f16d7f;
  outline: none;
}

.cart_box_details {
  position: relative;
}

.header_right_cart img:hover {
  cursor: pointer;
}

.cart_box_head {
  list-style-type: none;
  position: relative;
}

.cart_box_head:focus {
  outline: none;
}

.cart_box_head img {
  margin-right: 30px;
}

.cart-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ededed;
  top: 40px;
  z-index: 3;
}

.cart-box::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  left: 11px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.cart-item {
  width: 229px;
  display: flex;
  border-bottom: 1px solid #ededed;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.cart-item-img {
  margin-right: 15px;
}

.info {
  width: 120px;
}

.item-name {
  color: #222222;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-rating {
  margin-bottom: 12px;
}

.item-price {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.item-priceX {
  font-size: 10px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.item-delete {
  align-self: center;
  margin-left: 55px;
}

.cart-total-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_button_up {
  width: 100%;
  padding: 19px 0;
  margin-bottom: 11px;
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart_button_up:hover {
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  color: #ffffff;
}

.cart_button_bot {
  width: 100%;
  padding: 19px 0;
  margin-bottom: 11px;
  border: 1px solid #5f5f5f96;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  color: #35353598;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart_button_bot:hover {
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  color: #ffffff;
}

.navigation {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.menu-link {
  padding: 20px;
  display: block;
  position: relative;
}

.menu-link-header {
  text-decoration: none;
  color: #222222;
}

.menu-link:hover .mega-menu {
  display: flex;
}

.menu-link:hover .menu-link-header {
  color: #f16d7f;
  -webkit-text-decoration: underline 3px #f16d7f;
          text-decoration: underline 3px #f16d7f;
}

.mega-menu {
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  display: none;
  padding: 20px;
  position: absolute;
  background-color: #ffffff;
  margin-top: 5px;
  z-index: 2;
}

.mega-menu-reverseX .mega-menu {
  transform: translateX(-91%);
}

.mega-menu-reverseX .mega-menu::before {
  left: 95%;
}

.mega-menu::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  position: absolute;
  top: -7px;
  left: 3%;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.item-heading {
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-bottom: 8px;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}

.mega-item-list {
  list-style-type: none;
}

.mega-item {
  margin-right: 46px;
}

.mega-item:last-of-type {
  margin-right: 0px;
}

.mega-item-link {
  text-decoration: none;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  display: block;
}

.mega-item-link:hover {
  color: #f16d7f;
  -webkit-text-decoration: underline #f16d7f;
          text-decoration: underline #f16d7f;
}

.banner {
  height: 665px;
  background-color: #e8e8e8;
}

.banner_inside {
  height: 100%;
  background: url(img/Man.png);
}

.banner_inside_text {
  margin-top: 224px;
  float: left;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.banner_inside_text .the_brand {
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #222222;
}

.banner_inside_text .of_lux_fash {
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #222222;
}

.banner_inside_text .of_lux_fash span {
  color: #f16d7f;
}

.banner_bottom {
  display: flex;
  margin-top: 98px;
}

.banner_bottom_left {
  padding-bottom: 20px;
  padding-right: 20px;
}

.banner_bottom_left img {
  margin-bottom: 20px;
}

.banner_bottom_left_img {
  position: relative;
}

.banner_bottom_left_text {
  top: 25px;
  position: absolute;
  padding: 16px 20px;
  background-color: #ffffff;
}

.banner_bottom_left_text .text_up {
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  text-align: left;
  color: #222222;
}

.banner_bottom_left_text .text_bot {
  font-size: 30px;
  letter-spacing: 0.75px;
  color: #f16d7f;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.banner_bottom_left_img {
  position: relative;
}

.banner_bottom_left_text {
  top: 25px;
  position: absolute;
  padding: 16px 20px;
  background-color: #ffffff;
}

.banner_bottom_right img {
  margin-bottom: 20px;
}

.banner_bottom_right_img {
  position: relative;
}

.banner_bottom_right_text {
  top: 25px;
  position: absolute;
  padding: 16px 20px;
  background-color: #ffffff;
}

.banner_bottom_right_text .text_up {
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.45px;
  text-align: left;
  color: #222222;
}

.banner_bottom_right_text .text_bot {
  font-size: 30px;
  letter-spacing: 0.75px;
  color: #f16d7f;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.featured_items_up {
  margin-top: 80px;
}

.featured_items_up_text_up {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.75px;
  text-align: center;
  color: #222222;
}

.featured_items_up_text_bot {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.35px;
  text-align: center;
  color: #9f9f9f;
  padding-top: 16px;
}

.featured_items_bot {
  margin-top: 60px;
}

.featured_items_bot_card_box {
  display: flex;
  justify-content: space-between;
}

.featured_items_card {
  position: relative;
  margin-bottom: 40px;
}

.featured_items_card_link {
  text-decoration: none;
  display: block;
}

.featured_items_card:hover {
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.featured_items_card .featured_items_card_single_page_link {
  text-decoration: none;
}

/* .featured_items_card .featured_items_card_link:hover::after {
    height: 280px;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-image: url(img/ItemsImg/Add_to_cart.png);
    background-repeat: no-repeat;
    background-position: center top 40%;
    background-color: rgb(48, 48, 48);
    opacity: 0.7;
} */
.featured_items_card:hover .featured_items_card_link_pic {
  filter: brightness(50%);
}

.featured_items_card_text {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 13px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}

.featured_items_card_price {
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f16d7f;
}

.featured_items_card_add_box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
}

.featured_items_card_add_box .featured_items_card_add {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 7px;
  text-decoration: none;
  color: white;
}

.featured_items_card_add_pic {
  margin-right: 10px;
}

.featured_items_card_add_box p {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.featured_items_card:hover .featured_items_card_add_box {
  display: flex;
}

.featured_items_card_add_box:hover .featured_items_card_add {
  box-shadow: 0px 0px 10px #ffffff;
}

.featured_items_browse {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.featured_items_browse a {
  border: 1px solid transparent;
  text-decoration: none;
  padding: 15px 25px;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
}

.featured_items_browse a:hover {
  border: 1px solid #f16d7f;
  background-color: #ececec;
  color: #f16d7f;
}

.featured_items_browse a p {
  margin-bottom: 0px;
}

.offer_for_women {
  display: flex;
  margin-top: 115px;
  background-color: #222224;
  position: relative;
}

.offer_for_women_right {
  display: flex;
  align-items: center;
}

.offer_cards {
  display: flex;
  margin-top: 48px;
}

.offer_cards img {
  margin-left: 48px;
  align-self: flex-start;
}

.offer_cards_text {
  margin: 0px 30px 15px 30px;
}

.offer_cards_text_up {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #fbfbfb;
}

.offer_cards_text_bot {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.35px;
  text-align: left;
  color: #fbfbfb;
}

.offer_for_women_left::after {
  top: 0px;
  left: 0px;
  transition: 0.5s;
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  z-index: 2;
  background-image: url(img/blinding.png);
  background-repeat: no-repeat;
  opacity: 0;
}

.offer_for_women_left:hover::after {
  opacity: 1;
}

.offer_for_women_text {
  top: 146px;
  left: 40px;
  position: absolute;
}

.offer_for_women_text_up {
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
}

.offer_for_women_text_up span {
  color: #f16d7f;
}

.offer_for_women_text_bot {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
}

.subscribe_block {
  margin-top: 100px;
  background-image: url(img/subscribeImg.png);
  height: 438px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 109px;
}

.subscribe_block_box {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.subscribe_block_left {
  display: flex;
  margin-top: 111px;
}

.subscribe_block_left_img img {
  margin-right: 28px;
}

.subscribe_block_left_text {
  width: 386px;
  margin-top: 12px;
}

.subscribe_block_left_text_up {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.4px;
}

.subscribe_block_left_text_bot {
  margin-top: 20px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.subscribe_block_left_text_bot :last-of-type {
  color: #222224;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.subscribe_block_right {
  margin-top: 148px;
}

.subscribe_block_right_text :first-child {
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.subscribe_block_right_text {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  line-height: 24px;
}

.subscribe_block_right_form {
  margin-top: 35px;
}

.subscribe_block_right_form input {
  padding: 18px 148px 18px 28px;
  border-radius: 23px 0px 0px 23px;
  background-color: #e1e1e1;
  border: 0px solid #000;
  outline: none;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.subscribe_block_right_form button {
  padding: 18px 20px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.35px;
}

.subscribe_block_right_form button:hover {
  background-color: #ececec;
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.footer_box {
  display: flex;
  margin-bottom: 89px;
}

.footer_logo {
  padding-right: 64px;
  width: 427px;
}

.footer_logo .logo {
  margin-bottom: 29px;
}

.footer_logo .footer_logo_text {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.footer_logo .footer_logo_text :first-child {
  margin-bottom: 20px;
}

.footer_lists {
  display: flex;
  width: 57%;
}

.footer_lists_box {
  width: 216px;
}

.footer_lists_box_text_list {
  list-style-type: none;
}

.footer_lists_box_text_up {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
}

.footer_lists_box_text_list_link {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 40px;
  display: block;
}

.footer_lists_box_text_list_link:hover {
  color: #f16d7f;
  -webkit-text-decoration: underline #f16d7f;
          text-decoration: underline #f16d7f;
}

.footer_box_social_net {
  padding: 32px 0;
  background-color: #e6e6e6;
}

.footer_box_social_net_copy_nets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_box_copy {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}

.footer_box_social_net_list {
  display: flex;
  list-style-type: none;
}

.footer_box_social_net_list_link a {
  color: #b2b2b2;
  display: block;
  padding: 5px;
  margin-right: 8px;
  background-color: #ffffff;
  border: 1px solid transparent;
}

.footer_box_social_net_list_link a:hover {
  color: #ffffff;
  display: block;
  padding: 5px;
  background-color: #f16d7f;
  border: 1px solid transparent;
}

/* checkout */
.new_arrivals {
  padding: 65px 0px;
  background-color: #f8f3f4;
}

.new_arrivals_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new_arrivals_box a {
  text-decoration: none;
}

.new_arrivals h4 {
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f16d7f;
}

.new_arrivals_box_right a {
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #636363;
}

.new_arrivals_box_right a:hover {
  color: #f16d7f;
}

.new_arrivals_box_right .active {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f16d7f;
}

.order_settings {
  margin-top: 90px;
}

.shipping_adress h4 {
  font-weight: bold;
}

.shipping_adress_box {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.shipping_adress_left_up {
  margin-bottom: 35px;
}

.shipping_adress_left_up .text_up {
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: normal;
  font-stretch: normal;
}

.shipping_adress_left_up .text_bot {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b3b2b2;
}

.shipping_adress_left_bot .checkout_up {
  margin-bottom: 20px;
}

.shipping_adress_left_bot p {
  font-size: 13px;
  font-weight: bold;
}

.shipping_adress_left_bot .text_up {
  margin-top: 33px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: normal;
  font-stretch: normal;
}

.shipping_adress_left_bot .text_bot {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b3b2b2;
}

.shipping_adress_left_button {
  margin-top: 35px;
}

.shipping_adress_left_button .text {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b3b2b2;
}

.continue_button {
  margin-top: 38px;
  padding: 19px 55px;
  margin-bottom: 11px;
  border: 1px solid #00000096;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  color: #00000098;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  transition: all 1s;
}

.continue_button:hover {
  transform: rotate(360deg);
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  color: #ffffff;
}

.shipping_adress_right_up .text_up {
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: normal;
  font-stretch: normal;
}

.shipping_adress_right_up .text_bot {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b3b2b2;
}

.shipping_adress_left_bot p {
  font-size: 13px;
  font-weight: bold;
}

.shipping_adress_right_bot .text_up {
  margin-top: 23px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: normal;
  font-stretch: normal;
}

.shipping_adress_right_bot .text_up span {
  color: red;
}

.shipping_adress_right_bot input {
  width: 390px;
  height: 45px;
  padding-left: 15px;
}

.shipping_adress_right_bot .text_req {
  color: red;
  font-size: 13px;
  font-weight: bold;
  padding: 25px 0px 25px 0px;
}

.log_in {
  padding: 19px 55px;
  margin-bottom: 11px;
  border: 1px solid #00000096;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  color: #00000098;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  transition: all 0.3s;
}

.log_in:hover {
  transform: skew(5deg, 15deg);
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  color: #ffffff;
}

.forgot_password {
  color: black;
  margin-left: 32px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  transition: all 0.3s;
}

.forgot_password:hover {
  color: #f16d7f;
}

.shipping_adress .top {
  font-weight: bold;
}

.checkout_list {
  list-style-type: none;
  margin-bottom: 93px;
}
.checkout_list details {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 33px;
  padding-bottom: 31px;
}
.checkout_list h4 {
  font-size: 16px;
}
.checkout_list h4:hover {
  transition: 0.5s;
  transform: scale(1.2) translateX(55px);
  color: #f16d7f;
}

.details_header {
  list-style-type: none;
  color: #222222;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  outline: none;
}

/* single_page */
.slider {
  max-width: 550px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  background: #f7f7f7;
}

.carousel-control-next-icon {
  width: 5rem;
  height: 5rem;
}

.carousel-control-prev-icon {
  width: 5rem;
  height: 5rem;
}

.carousel-control-back {
  background: rgba(0, 0, 0, 0.4);
}

.gray_block {
  background: #f7f7f7;
  height: 100px;
}

.item_page {
  position: relative;
  margin-bottom: 800px;
}

.item_page_info {
  position: relative;
}

.item_page_info_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background: white;
  left: 50%;
  transform: translate(-50%, -10%);
  border: 1px solid #eaeaea;
}

.item_page_info_box_text {
  margin-top: 50px;
  max-width: 650px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 45px;
}

.line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}

.line .line_grey {
  width: 147px;
  height: 1px;
  background-color: #eaeaea;
}

.line .line_red {
  position: absolute;
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
}

.item_page_info_box_text .text_up {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f16d7f;
  padding-bottom: 18px;
}

.item_page_info_box_text .text_bot {
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
}

.item_page_info_box_text .text_desk {
  margin-top: 70px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5e5e5e;
}

.material_design {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 35px;
}

.material_design .text_left_right {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #b9b9b9;
}

.material_design .text_left_right span {
  color: #000000;
}

.item_page_info_box .price {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ef5b70;
}

.item_page_info_box_details_choosing {
  display: flex;
  margin-top: 65px;
}

.choose_box_select {
  outline: none;
  margin: 14px 51px 28px 0px;
  padding: 11px 9px 12px 14px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.choose_box_input input {
  width: 100px;
  outline: none;
  margin: 14px 0px 28px 0px;
  padding: 11px 9px 12px 14px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.choose_box p {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2f2f2f;
}

.choose_box_input p {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2f2f2f;
}

.choose_box_add_to_card button {
  padding: 16px 0px 16px 0px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  outline: none;
  cursor: pointer;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 122px;
}

.choose_box_add_to_card button:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #ffffff;
}

.single_page_items .featured_items_up_text_up {
  font-family: Lato;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 72px;
}

.shopping_cart {
  margin-top: 90px;
  margin-bottom: 80px;
}
.shopping_cart .shopping_cart_det {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-align: left;
  color: #222222;
  padding-bottom: 20px;
  border-bottom: solid 1px #eaeaea;
}
.shopping_cart .shopping_cart_det .shopping_cart_det_right {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.shopping_cart .prod_one {
  padding-top: 22px;
}
.shopping_cart .prod_one .shopping_cart_det_left {
  display: flex;
}
.shopping_cart .prod_one .shopping_cart_det_left .shopping_cart_det_left_text .shopping_cart_det_left_text_up {
  margin-top: 12px;
}
.shopping_cart .prod_one .shopping_cart_det_left .shopping_cart_det_left_text .shopping_cart_det_left_text_bot {
  margin-top: 38px;
}
.shopping_cart .prod_one .shopping_cart_det_left .shopping_cart_det_left_text .shopping_cart_det_left_text_bot span {
  color: #b9b9b9;
}
.shopping_cart .prod_one .shopping_cart_det_left .shopping_cart_det_left_text p {
  margin-left: 21px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}
.shopping_cart .prod_one .shopping_cart_det_right {
  align-items: center;
}
.shopping_cart .prod_one .shopping_cart_det_right input {
  width: 60px;
  height: 30px;
  padding: 10px 24px;
  outline: none;
}
.shopping_cart .prod_one .shopping_cart_det_right a {
  color: #000;
}
.shopping_cart .prod_one .shopping_cart_det_right a:hover {
  color: #ff0022;
}
.shopping_cart .shopping_cart_buttons {
  margin-top: 45px;
  margin-bottom: 65px;
  display: flex;
  justify-content: space-between;
}
.shopping_cart .shopping_cart_buttons button {
  padding: 20px 40px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}
.shopping_cart .shopping_cart_buttons button:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #ffffff;
}
.shopping_cart .shopping_cart_order_details {
  display: flex;
  justify-content: space-between;
}
.shopping_cart .shopping_cart_order_details p {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.shopping_cart .shopping_cart_order_details .desc {
  margin-top: 28px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.shopping_cart .shopping_cart_order_details .shopping_cart_order_details_box {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  width: 320px;
}
.shopping_cart .shopping_cart_order_details .shopping_cart_order_details_box select {
  padding: 16px 18px 16px 18px;
  margin-top: 22px;
  outline: none;
}
.shopping_cart .shopping_cart_order_details .shopping_cart_order_details_box input {
  padding: 16px 18px 16px 18px;
  margin-top: 22px;
  outline: none;
}
.shopping_cart .shopping_cart_order_details .shopping_cart_order_details_box .shopping_cart_order_details_button {
  width: 120px;
  margin-top: 35px;
  padding: 12px 15px;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}
.shopping_cart .shopping_cart_order_details .shopping_cart_order_details_box .shopping_cart_order_details_button:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #ffffff;
}
.shopping_cart .shopping_cart_order_details .proc_check {
  background-color: #f5f3f3;
  padding: 44px 42px;
  height: 240px;
  text-align: right;
}
.shopping_cart .shopping_cart_order_details .proc_check .proc_check_text {
  border-bottom: 1px solid #e2e2e2;
}
.shopping_cart .shopping_cart_order_details .proc_check .proc_check_text .bot {
  text-align: right;
  margin-bottom: 22px;
}
.shopping_cart .shopping_cart_order_details .proc_check .proc_check_text .bot span {
  color: #f16d7f;
}
.shopping_cart .shopping_cart_order_details .proc_check .proc_check_text .up {
  margin-bottom: 14px;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #4a4a4a;
}
.shopping_cart .shopping_cart_order_details .proc_check .proc_check_button {
  display: block;
  text-decoration: none;
  margin-top: 20px;
  padding: 12px 15px;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #ffffff;
}
.shopping_cart .shopping_cart_order_details .proc_check .proc_check_button:hover {
  color: #4a4a4a;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.description-buy-details {
  display: flex;
  flex-direction: column;
}

.description-details-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
}

.description-details-box h3 {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-details-button {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.dropdown-box {
  position: relative;
}

.dropdown-header-select {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 5px 14px;
  width: 144px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.dropdown-header-select:focus {
  outline: none;
}

.dropdown-selection {
  border: 1px solid #eaeaea;
  border-top: 0px;
  background-color: #ffffff;
  padding: 5px 14px;
  position: absolute;
  width: 144px;
}

.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-link {
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
}

.dropdown-link:hover span {
  color: #f16d7f;
}

.fa-margin {
  margin-right: 11px;
}

.dropdown-color-text {
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.color-red {
  color: #ef5b70;
}

.color-green {
  color: green;
}

.color-blue {
  color: blue;
}

.color-black {
  color: black;
}

.dropdown-chevron {
  color: #bcbcbc;
  font-size: 9px;
}

.details-quantity {
  width: 144px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 5px 14px;
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 400;
}

.details-quantity:focus {
  outline: none;
}

.add-to-cart-button {
  width: 89%;
  align-self: center;
  padding: 13px 0;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-button:hover {
  background-color: #ef5b70;
  color: #ffffff;
}

.add-to-cart-img {
  font-size: 21px;
  margin-right: 15px;
}

.you-may-like {
  margin-top: 119px;
  padding: 0;
  margin-bottom: 72px;
}

.you-may-like-card-box {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.you-may-like-card a {
  text-decoration: none;
}

.you-may-like-card:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.you-may-like-header {
  margin-bottom: 72px;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.may-like-text-container {
  display: flex;
  flex-direction: column;
  padding: 15px 18px;
  margin: 0;
}

.may-like-card-name {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.may-like-card-price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart-text {
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  color: #222222;
}

.cart-mainBox {
  margin-top: 90px;
}

.cart-main-description {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 22px;
  border-bottom: 1px solid #eaeaea;
}

.cart-main-desc-right {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.cart-main-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
}

.cart-main-item:last-of-type {
  margin-bottom: 44px;
}

.cart-main-img {
  display: flex;
}

.cart-main-img img {
  margin-right: 21px;
}

.cart-main-img-text {
  margin-top: 13px;
}

.cart-main-item-header {
  margin-bottom: 30px;
}

.cart-main-item-text {
  font-size: 13px;
  color: #575757;
  font-weight: 800;
}

.cart-main-item-text:last-of-type {
  margin-top: 3px;
}

.cart-main-item-text span {
  color: #6f6e6e;
  font-weight: 400;
}

.cart-main-item-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 59%;
  font-size: 13px;
  font-weight: 400;
  color: #656565;
  text-transform: uppercase;
}

.cart-main-item-desc p {
  width: 54px;
  text-align: center;
  cursor: default;
}

.cart-main-item-desc p:last-of-type {
  cursor: pointer;
}

.cart-main-item-desc input {
  width: 54px;
  height: 30px;
  margin-left: 8px;
  outline: none;
  border: 1px solid #eaeaea;
  color: #656565;
  box-sizing: border-box;
  text-align: center;
}

.cart-item-delete {
  height: 15px;
  width: 15px;
  color: #c0c0c0;
}

.cart-item-delete:hover {
  color: #f16d7f;
}

.button-clear-continue-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}

.button-clear-continue-box button {
  padding: 19px 39px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
}

.button-clear-continue-box button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
  cursor: pointer;
}

.button-clear-continue-box button:focus {
  outline: none;
}

.cart-shippingAndCoupon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
}

.cart-shipping-adress {
  width: 355px;
  display: flex;
  flex-direction: column;
}

.cart-shipping-adress input {
  margin-bottom: 20px;
  outline: none;
  padding: 16px 18px;
  border: solid 1px #eaeaea;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #b1b1b1;
}

.cart-shipping-adress input::placeholder {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #b1b1b1;
}

.cart-shipping-header {
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
}

.cart-shipping-quote-btn {
  width: 100px;
  padding: 12px 10px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: 800;
  color: #4a4a4a;
  text-transform: uppercase;
}

.cart-shipping-quote-btn:hover {
  cursor: pointer;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.cart-shipping-quote-btn:focus {
  outline: none;
}

.cart-coupon {
  width: 355px;
  display: flex;
  flex-direction: column;
}

.cart-coupon p {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 24px;
}

.cart-coupon input {
  padding: 12px 10px;
  outline: none;
  margin-bottom: 25px;
  border: solid 1px #eaeaea;
  font-size: 13px;
  font-weight: 500;
  color: #b1b1b1;
}

.cart-coupon input::placeholder {
  font-size: 13px;
  font-weight: 500;
  color: #b1b1b1;
}

.cart-coupon button {
  width: 118px;
  padding: 12px 13px;
  box-sizing: border-box;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-weight: 800;
  font-size: 11px;
  color: #4a4a4a;
  text-transform: uppercase;
}

.cart-coupon button:focus {
  outline: none;
}

.cart-coupon button:hover {
  cursor: pointer;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.cart-proseed {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  padding: 40px 43px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-proseed button {
  padding: 16px 40px;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

.cart-proseed button:hover {
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  cursor: pointer;
}

.cart-proseed button:focus {
  outline: none;
}

.cart-proseed-text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 22px;
}

.cart-proseed-text-box p {
  font-size: 11px;
  color: #4a4a4a;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: 800;
}

.cart-proseed-text-box p span {
  margin-left: 10px;
}

.cart-proseed-text-box h4 {
  font-size: 16px;
  font-weight: 800;
  color: #222222;
  margin-bottom: 17px;
}

.cart-proseed-text-box h4 span {
  color: #f16d7f;
  margin-left: 10px;
}

.products-nav-box {
  display: flex;
  margin-top: 71px;
}

.prod_navigation {
  display: flex;
  flex-direction: column;
  width: 243px;
  margin-right: 50px;
}

.red-line {
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
  margin-right: 11px;
}

.navigation-details-box {
  margin-bottom: 18px;
}

.navigation-details-box summary {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  align-items: center;
  font-size: 14px;
  color: #6f6e6e;
  text-transform: uppercase;
}

.navigation-details-box summary:hover {
  cursor: pointer;
}

.navigation-details-box summary::marker {
  display: none;
}

.navigation-details-box summary::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #6f6e6e;
}

.navigation-details-box summary:focus {
  outline: none;
}

.navigation-details-box summary h4 {
  font-size: 14px;
  width: 80px;
  margin-right: 128px;
}

.navigation-details-box[open] summary {
  color: #ef5b70;
}

.navigation-details-box[open] summary::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #ef5b70;
}

.menu-item-box ul {
  list-style-type: none;
  font-size: 14px;
  color: #6f6e6e;
  padding: 22px;
}

.menu-item-box ul li {
  display: block;
  padding-bottom: 10px;
}

.menu-item-box ul li h4 {
  font-size: 14px;
}

.menu-item-box ul li:hover {
  color: #ef5b70;
  cursor: pointer;
}

.products-box {
  width: 100%;
}

.products-options {
  display: flex;
  justify-content: space-between;
  color: #6f6e6e;
  margin-bottom: 41px;
}

.products-options div h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 24px;
}

.product-option-header {
  font-size: 14px;
  font-weight: bold;
}

.products-trending-list {
  width: 190px;
}

.products-trending-list ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.products-trending-list ul li::after {
  content: "|";
  color: #dfdfdf;
  margin: 0 5px;
}

.products-trending-list ul li:last-of-type::after {
  display: none;
}

.products-options-size {
  width: 265px;
}

.products-size-box {
  display: flex;
  flex-wrap: wrap;
}

.custom-checkbox {
  margin-right: 23px;
}

.custom-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.custom-checkbox input + label::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ebebeb;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

.custom-checkbox input:checked + label::before {
  background-image: url(img/products/check-solid.svg);
}

.custom-checkbox:hover {
  color: #ef5b70;
}

.products-options-price {
  width: 262px;
}

.products-from-to-price {
  display: flex;
  justify-content: space-between;
}

.products-from-to-price input {
  width: 100px;
  border: 0px solid #000;
  font-size: 14px;
  color: #6f6e6e;
}

.products-from-to-price input:focus {
  outline: none;
}

.products-slider {
  margin-bottom: 21px;
}

.products-sort-by-box {
  background-color: #f3f3f3;
  padding: 10px 0 10px 9px;
  display: flex;
  font-size: 14px;
  color: #6f6e6e;
  margin-bottom: 48px;
}

.products-sort-by {
  display: flex;
  margin-right: 10px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
}

.products-sort-by p {
  padding: 10px;
  border-right: 1px solid #ebebeb;
  margin-bottom: 0;
}

.products-sort-by-select {
  outline: none;
  border: 0px solid #000;
  font-size: 14px;
  color: #6f6e6e;
  padding: 10px;
}

.products-cards-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-pages-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.products-pages-view-all {
  border-radius: 3px;
  border: solid 1px #ef5b70;
  padding: 15px 46px;
  cursor: pointer;
}

.products-pages-view-all a {
  text-decoration: none;
  color: #ef5b70;
}

.products-pages-view-all:hover {
  background-color: #ef5b70;
}

.products-pages-view-all:hover a {
  color: #ffffff;
}

.menu-item-box ul {
  list-style-type: none;
  font-size: 14px;
  color: #6f6e6e;
  padding: 22px;
}

.menu-item-box ul li {
  display: block;
  padding-bottom: 10px;
}

.menu-item-box ul li h4 {
  font-size: 14px;
}

.menu-item-box ul li:hover {
  color: #ef5b70;
  cursor: pointer;
}

.pagination a.page-link {
  color: black;
}
.pagination a.page-link:hover {
  color: #ef5b70;
}